{% extends "catalog/base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

    <div class="lf-size lf-bg d-flex align-items-center flex-column rounded-4 justify-content-center mt-4">
        <form action="" method="post" class="d-flex align-items-center flex-column gap-3 mt-3">
            {% csrf_token %}
            <div class="d-flex flex-column bg-white rounded-4 p-2">
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <label class="lf-input-label">Email</label>
                <div class="d-flex flex-row align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope mt-1" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                    </svg>
                    <label>{{ form.email|add_class:"lf-input-border"|append_attr:"placeholder=name@gmail.com" }}</label>
                </div>
            </div>
            <input type="submit" class="form-control border-0 w-75 mb-3" value="Reset password"/>
        </form>
    </div>

{% endblock %}
